@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css';

.App {
  text-align: center;
  background: #eee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Post {
  padding: 20px;
  margin-bottom: 1.5rem;
  background: #222;
  box-shadow: 8px 8px 0 #61DAFB;
}

.Post img {
  border: 5px solid #61DAFB;
}

.Post p {
  color: #fff;
}

.header {
  padding: 6em 4em;
  color: #fff;
  background: #222;
  margin-bottom: 30px;
}
